body {
    background-color: lightgray;
    font-family: 'Playfair Display', serif;
    border-color: gold;
    border: 10px;
}
.bg-light {
    background-color: midnightblue!important;
}
nav,
a {
    color: gold;
}

.navbar-brand {
    font-size: 30px;
}

.nav-link {
    font-size: 19px;
}
nav {
    padding-top: 20px!important;
    padding-bottom: 25px!important;
}
.allSlides{
    margin: auto;
}
h1 {
    margin: 20px 0px -80px 85px;
    font-size: 22px; 
    color: midnightblue;
    text-shadow: 2px 2px gold;
}
.container {
    margin-top: 100px;
}

 #profileImage {
    height: 250px;
    width: 250px;
}


#pic {
    max-width: 230px !important;
    height: auto !important;
    border-radius: 5px;
}

#techList, 
#list,
#techHeader {
    border-radius: 5px;
    border-color: gold;
    color: midnightblue;
}

#techHeader {
    text-shadow: 2px 2px gold;
}