body {
    background-color: lightgray;
    font-family: 'Playfair Display', serif;
    border-color: #d1bf81;
    border: 10px;
}

#bg-light,
.bg-light {
    padding-top: 20px!important;
    padding-bottom: 25px!important;
    background-color: #31425e!important;
    color: #d1bf81; 
}

#navbar-brand,
.navbar-brand{
    font-size: 30px;
}

.nav-link {
    color: #d1bf81;
    font-size: 19px;
}

.container-fluid {
    width: 90%;
    margin: 0 auto;
}

#workContainer {
    width: 100%;
    margin-top: 20px;
    margin-left: 7%;
}

img {
    height: 350px;
    width: 500px;
    border-style: double;
    border-color: #d1bf81;
    border-radius: 5px;
    margin-top: 20px;
}

h3 {
    font-size: 16px;
}

a {
    color: #31425e;
}

#returnHome {
    color: #d1bf81!important;
    margin: 30px 0px 30px 585px;
    padding: 20px;
    background-color: #31425e;
    border: 4px double #d1bf81;
    border-radius: 5px; 
}
#returnButton {
    color: #d1bf81;
}

footer {
    background-color: #31425e!important;
    padding-top: 20px!important;
    padding-bottom: 20px!important;
    font-size: 30px;
    color: #d1bf81!important;
    text-align: center;
  }
  
@media screen and (max-width: 942px) {
    #bg-light {
        width: 942px!important;
        
    }
    #returnHome {
        margin: 0 auto;
    }
}