body {
    background-color: lightgray;
    font-family: 'Playfair Display', serif;
    border-color: gold;
    border: 10px;
}
/* nav {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: midnightblue!important;
} */
#bg-light,
.bg-light {
    padding-top: 20px!important;
    padding-bottom: 25px!important;
    background-color: midnightblue!important;
    color: gold; 
}

#navbar-brand,
.navbar-brand{
    font-size: 30px;
}

.nav-link {
    color: gold;
    font-size: 19px;
}


  
  
  